*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
frontend/local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.venv/
__pycache__/
.docker/
docker-compose.override.yml
dist/
build/
.vscode/
venv/
env/
ENV/
virtualenv/
.flaskenv
*.key
.env
docs/build/
docs/_build/
test.db
test.db-journal
.pytest_cache
test_feature/
images/